@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cadastrar Nova Cotação</h1>
        <form action="" id="formCotacao">
            <label for="cep">Origem</label>
            <input id="cep" type="text" placeholder="CEP" name="cep"><br>
            <label for="endereco">Endereço</label>
            <input type="text" id="endereco" name="endereco"><br>
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" name="cidade"><br>
            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado"><br>
            <label for="cepDestino">Destino</label>
            <input type="text" placeholder="CEP" id="cepDestino" name="cepDestino"><br>
            <label for="cidade2">Cidade</label>
            <input type="text" id="cidade2" name="cidade2"><br>
            <label for="estado2">Estado</label>
            <input type="text" id="estado2" name="estado2"><br>
            <label for="valorCarga">Valor da Carga</label>
            <input type="number" id="valorCarga" name="valorCarga"><br>
            <label for="qtdVolumes">Quantidade de Volumes</label>
            <input type="number" id="qtdVolumes" name="qtdVolumes"><br>
            <label for="comprimento">Comprimento (cm)</label>
            <input type="number" id="comprimento" name="comprimento"><br>
            <label for="largura">Largura (cm)</label>
            <input type="number" id="largura" name="largura"><br>
            <label for="altura">Altura</label>
            <input type="number" id="altura" name="altura"><br>
            <label for="obs">Observações</label>
            <input type="text" id="obs" name="obs"><br>
            <button type="submit">Cadastrar Cotação</button>
        </form>
</div>
